
.main-body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/placeholder-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    & .headers {
        opacity: 0;
        animation: headerEntrance 1s forwards ease-out;
        animation-delay: 2s;
        background-color: rgba(white, 0.8);
        padding: 2vw;
        border: solid black 0.25vw;
        border-radius: 2vw;

        & h1 {
            font-size: 4vw;            
        }
        & h2 {
            font-size: 3vw;            
        }
        & h3 {
            font-size: 3vw;
            font-style: italic;
            margin: 0.5vw 0;
        }
        & h4 {
            font-size: 1.5vw;
        }
        & h5 {
            font-size: 3vw;
            margin: 3vw;
        }

        & .projects {
            display: flex;
            justify-content: center;
            align-items: center;

            & .project {
                height: 15vw;
                width: 25vw;
                margin: 3vw;                
                border: solid black 0.2vw;
                border-radius: 0.2vw;
                cursor: pointer;
            }

            & .proj-1 {
                background-image: url(../assets/images/peets-thumbnail.jpg);
                background-size: contain;
            }
            & .proj-2 {
                background-image: url(../assets/images/davis-thumbnail.jpg);
                background-size: contain;
            }
        }
    }

}


@keyframes headerEntrance {
    0% {
        transform: translateY(0vw);
        opacity: 0
    }
    50% {
        transform: translateY(2vw);
    }
    100% {
        transform: translateY(0vw);
        opacity: 1;
    }
}

@media (max-width:500px){
    .main-body {
        background-image: url(../assets/images/mobile-background.jpg);

        .headers {
            padding: 20vh 0vw;

            & h1 {
                font-size: 8vw;
            }
            & h2 {
                font-size: 6vw;
            }
            & h3 {
                font-size: 6vw;
                margin-bottom: 5vw;
            }
            & h4 {
                font-size: 6vw;
            }

            & .projects {

                & .project {
                    width: 40vw;
                    height: 25vw;
                }
            }
        }
    }

    
}
  
