

<div class="main-body">

  <div class="headers">
      <h1>josephmjoyce.me is currently being updated.</h1>
      
      <h2>Stay tuned for changes coming soon!</h2>

      <h3>- Joseph</h3>

      <h4>{{ date | date:'MM/dd/yyyy' }}</h4>
      <h5>In the meantime you can check out these clones I built <br> (no functionality added)</h5>      
      <div class="projects">
        <a href="http://www.coffee.josephmjoyce.me" target="_blank"><div class="project proj-1"></div></a>
        
        <a href="http://www.davis.josephmjoyce.me" target="_blank"><div class="project proj-2"></div></a>
      </div>
  </div>

</div>